:root {
    --primary-dark: #1b2540;
    --secondary-dark: #2a3552;

    --aviation-blue: #8aa2cb;
    --soft-blue: #b8c7e2;

    --bronze: #8f6a3d;
    --gold: #b69058;

    --copper: #c86d3a;
    --soft-copper: #dc8755;

    --white: #ffffff;
    --light-bg: #f6f8fb;
    --border: #e6ebf2;

    --text: #1d2740;
    --muted: #667085;

    --shadow: 0 15px 40px rgba(27,37,64,0.08);

    --radius: 18px;

    --container: 1280px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: "Inter", "Segoe UI", sans-serif;

    background: var(--white);
    color: var(--text);

    overflow: hidden;

    line-height: 1.65;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

button,
input,
textarea {
    font-family: inherit;
}

.hero,
.page-hero,
.highlights,
.inquiry-section,
.services-section,
.contact-section,
.footer-grid,
.cta-section,
.navbar {
    width: 100%;
    max-width: var(--container);
    margin: auto;
}

header {
    width: 100%;

    position: sticky;
    top: 0;
    z-index: 999;

    background: rgba(255,255,255,0.96);

    border-bottom: 1px solid var(--border);

    backdrop-filter: blur(10px);
}

.navbar {
    height: 96px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
}
    

.logo img {
    width: 200px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 46px;
}

.nav-links a {
    color: var(--primary-dark);

    font-size: 15px;
    font-weight: 500;

    position: relative;
    
    transition: 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--bronze);
}

.nav-links a.active::after {
    content: "";

    width: 100%;
    height: 2px;

    background: var(--bronze);

    position: absolute;
    left: 0;
    bottom: -10px;
}

.nav-btn {
    
    background: var(--primary-dark);
    color: white;

    padding: 15px 28px;

    border-radius: 12px;

    font-size: 15px;
    font-weight: 600;

    transition: 0.3s ease;
}

.nav-btn:hover {
    background: var(--copper);

    transform: translateY(-2px);
}

.hero {

    min-height: 88vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 70px;

    padding: 80px 40px 100px;
}

.hero-left {
    flex: 1;
}

.section-line {
    width: 58px;
    height: 4px;

    background: var(--bronze);

    display: block;

    margin-bottom: 34px;
}


.hero-left h1 {
    font-size: 78px;
    line-height: 1.02;
    letter-spacing: -3px;

    font-weight: 750;
    
    color: var(--primary-dark);

    margin-bottom: 30px;
}

.hero-left h1 span{
    color: var(--copper);
}

.hero-left p {
    max-width: 560px;

    font-size: 20px;
    color:var(--muted);

    margin-bottom: 40px;
}


.primary-btn {

    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 58px;
    padding: 0 34px;

    border-radius: 12px;

    background: var(--primary-dark);
    color: white;

    font-size: 15px;
    font-weight: 600;

    transition: 0.3s ease;
}

.primary-btn:hover {
    background: var(--copper);

    transform: translateY(-2px);
}

.hero-right{
    flex: 1.1;
}

.hero-right img {
    width: 100%;
    object-fit: contain;
}

.highlights {
    display: grid;
    grid-template-columns: repeat(4,1fr);

    gap: 30px;

    padding: 45px 40px;

    background: #fbfcfe;

    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.highlight-item {
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.highlight-item img {
    width: 52px;
}

.highlight-item h3{

    font-size: 20px;
    color: var(--primary-dark);

    margin-bottom: 8px;
}

.highlight-item p {
    font-size: 15px;
    columns: var(--muted);
}

.inquiry-section {
    display: flex;
    justify-content: space-between;

    gap: 70px;

    padding: 120px 40px;
}

.inquiry-left {
    flex: 1;
}

.mini-title {

    color: var(--bronze);

    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;

    display: block;

    margin-bottom: 18px;
}

.inquiry-left h2 {
    font-size: 56px;
    line-height: 1.08;

    color: var(--primary-dark);

    margin-bottom: 24px;
}


.inquiry-left p {
    max-width: 520px;
    color: var(--muted);
    font-size: 18px;
}

.inquiry-form {
    flex: 1;

    background: white;

    border-radius: 1px solid var(--border);
    border-radius: 24px;

    padding: 40px;

    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;
    gap: 18px;

}

.inquiry-form input,
.inquiry-form textarea {

    width: 100%;

    border: 1px solid var(--border);
    border-radius: 12px;

    padding: 18px 20px;

    font-size: 15px;

    outline: none;

    transition: 0.3s ease;
}

.inquiry-form input:focus,
.inquiry-form textarea:focus {
    border-color: var(--aviation-blue);
}

.inquiry-form textarea {
    min-height: 150px;
    resize: none;
}

.inquiry-form button {
    height: 58px;

    border: none;
    border-radius: 12px;

    background: var(--primary-dark);
    color: white;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s ease;
}

.inquiry-form button:hover {
    background: var(--copper);
}


.page-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 70px;

    padding: 90px 40px 110px;
}

.page-hero-left {
    flex: 1;
}

.page-hero-left h1 {

    font-size: 68px;
    line-height: 1.05;
    letter-spacing: -2px;

    color: var(--primary-dark);

    margin-bottom: 26px;
}

.page-hero-left h1 span {
    color: var(--copper);
}

.page-hero-left p {
    max-width: 560px;

    font-size: 19px;
    color: var(--muted);
}

.page-hero-right {
    flex: 1;
}


.section-heading {
    text-align: center;

    margin-bottom: 65px;
}
.section-heading h2 {

    font-size: 52px;
    line-height: 1.1;

    color: var(--primary-dark);

    margin-top: 10px;
}

.services-section {
    padding: 0 40px 120px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    gap: 30px;
}

.service-card{

    background: white;

    border: 1px solid var(--border);
    border-radius: 22px;

    padding: 40px 34px;

    transition: 0.35s ease;

    box-shadow: 0 8px 20px rgba(0,0,0,0.03);
}

.service-card:hover {
    transform: translateY(-8px);

    border-color: var(--aviation-blue);

    box-shadow: 0 20px 40px rgba(27,37,64,0.08);
}

.service-card img {
    width: 58px;

    margin-bottom: 16px;
}

.service-card h3{
    font-size: 24px;
    line-height: 1.25;

    color: var(--primary-dark);

    margin-bottom: 16px;
}

.service-card p {
    font-size: 15px;
    color: var(--muted);
}

.cta-section {
    margin-bottom: 120px;

    background: linear-gradient(
        135deg,
        var(--primary-dark),
        var(--secondary-dark)
    );

    border-radius: 28px;

    padding: 45px 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 30pc;
}

.cta-left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.cta-left img {
    width: 58px;
}

.cta-left h3 {
    color: white;

    font-size: 30px;

    margin-bottom: 8px;
}

.cta-left p {
    color: rgba(255, 255, 255, 0.75);
}


.contact-section {
    padding: 0 40px 120px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;

    gap: 40px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 22px;
}    

.contact-card {

    border: 1px solid var(--border);
    border-radius: 20px;

    padding: 26px;

    display: flex;
    align-items: center;
    gap: 20px;

    transition: 0.3s ease;
}

.contact-card:hover {

    border-color: var(--aviation-blue);

    transform: translateY(-3px);
}


.contact-card img {
    width: 48px;
}
.contact-card h3{
    font-size: 20px;

    color: var(--primary-dark);

    margin-bottom: 5px;
}

.contact-card p {
    color: var(--muted);
}

.contact-form {

    background: white;

    border-radius: 24px;
    border: 1px solid var(--border);

    padding: 38px;

    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 18px;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid var(--border);
    border-radius: 12px;

    padding: 18px;

    font-size: 15px;

    outline: none;

    transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--aviation-blue);
}

.contact-form textarea {
    min-height: 180px;
    resize: none;
}

.contact-form button {
    height: 58px;

    border: none;
    border-radius: 12px;

    background: var(--primary-dark);
    color: white;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s ease;
}

.contact-form button:hover {
    background: var(--copper);
}

footer {
    background: linear-gradient(
        135deg,
        var(--primary-dark),
        var(--secondary-dark)
    );
    margin-top: 40px;
}

.footer {
    padding: 80px 40px 30px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;

    gap: 50px;
}

.footer-logo {
    width: 190px;

    margin-bottom: 24px;

    font-size: 19px;

}

.footer p,
.footer a {

    color: rgba(255, 255, 255, 0.72);

    margin-bottom: 12px;

    font-size: 15px;

    transition: 0.3s ease;
}

.footer a:hover{
    color: var(--warm-gold);
}

.footer-contact-item{

    display: flex;
    align-items: center;

    gap: 12px;

    margin-bottom: 16px;
}

.footer-contact-item img {

    width: 18px;
    height: 18px;

    object-fit: contain;

    opacity: 0.9;
}

.footer-contact-item p {
    margin-bottom: 0;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.08);

    margin-top: 55px;
    padding: 28px;

    text-align: center;

    color: rgba(255, 255, 255, 0.55);

    font-size: 14px;
}

@media (max-width: 1150px) {

    .hero,
    .page-hero,
    .inquiry-section{
        flex-direction: column;
    }

    .services-grid{
        grid-template-columns: repeat(2,1fr);
    }

    .contact-grid{
        grid-template-columns: 1fr;
    }

    .highlights{
        grid-template-columns: repeat(2,1fr);
    }

    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }

    .hero-left {
        font-size: 64px;
    }

}

@media(max-width:768px) {

    .navbar {
        flex-direction: column;
        justify-content: center;

        gap: 20px;

        height: auto;

        padding: 28px 20px;
    }
    .nav-links{
        gap: 24px;

        flex-wrap: wrap;
        justify-content: center;
    }

    .hero,
    .page-hero,
    .highlights,
    .inquiry-section,
    .services-section,
    .contact-section,
    .footer,
    .cta-section{

        padding-left: 20px;
        padding-right: 20px;
    }

    .hero h1,
    .page-hero-right h1{
        font-size: 46px;
        letter-spacing: -1px;
    }

    .inquiry-left h2,
    .section-heading h2{
        font-size: 38px;
    }

    .services-grid,
    .highlights,
    .footer-grid{
        grid-template-columns: 1fr;
    }

    .form-row{
        grid-template-columns: 1fr;
    }

    .cta-section{
        flex-direction: column;
        align-items: flex-start;
    }
}

    